#header {
  position: fixed;
  background: url("../../../images/mainBackground.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

#headline {
  text-align: center;
  color: #fff;
  font-size: 3.5rem;
  margin-top: 7.5rem;
}

.card-div {
  background-color: rgb(26, 26, 26);
  height: 180px;
  padding: 2px;
}

.card-div:hover {
  background-color: #ffb606;
  cursor: pointer;
}

.header-icon {
  font-size: 2.5rem;
  margin: 0.9rem;
}
