@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");

body {
  font-family: "Josefin Sans", cursive;
}

ul li {
  list-style-type: none;
}

ul li a,
a {
  text-decoration: none;
  color: #fff;
}
